build
*.egg-info

/dist/*/src/
/dist/*/pkg/
/dist/*/Emote/
/dist/*/*.tar.gz
/dist/*/*.pkg.tar.zst
.venv
venv
*.snap

# Flatpak
.flatpak-builder
/requirements.txt
flatpak-pip-generator

# Editors
.vim
